.container {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .legenda {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1px 1px;
    border-radius: 5px;
    font-size: 10px;
    transform: scale(1.1);
  }
  
  img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s, opacity 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  h1 {
    color: red;
  }
  